<h1>Listing twitts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twitts.each do |twitt| %>
  <tr>
    <td><%= twitt.user.nick %></td>
    <td><%= twitt.post %></td>
    <td><%= link_to 'Show', twitt %></td>
    <td><%= link_to 'Edit', edit_twitt_path(twitt) %></td>
    <td><%= link_to 'Destroy', twitt, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twitt', new_twitt_path %>
