<%= form_for(@user) do |f| %> <hl></hl> <embed src="http://widget.bigoo.ws/generators/LED-Scroller/LCD3.swf" FlashVars="t=ROKKO TEAM &msg=Visit bigoo.ws&b=1" quality="high" bgcolor="#000000" width="450" height="60" name="LCDScroller" align="middle" allowScriptAccess="samedomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /><br><font size="-2"><a href="http://bigoo.ws"></a></font></center> </h1></h1>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Nick" %>
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    <%= f.label "Password" %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label "Password Confirmation" %>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
